* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    font-family: 'Nabla', sans-serif;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
}

header nav li a {
    font-family: 'Roboto', sans-serif;
    color: #eee;
    text-decoration: none;
}

header, footer {
    background-color: #321987;
    width: 100%;
}

header > .container {
    align-items: center;
    padding-bottom: 16px;
    justify-content: space-between;
}

.container-flex {
    display: flex;
}

#Sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

.divisor h2{
    padding: 16px 0;
    border-bottom: 2px solid #321987;
    color: #321987;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    padding: 48px 0;
    align-items: center;
}
section h2 {
    margin-bottom: 16px;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 1020px;
}

.sobre {
    font-family: 'Roboto', sans-serif;
    color: #321987;
    text-decoration: none;
    display: flex;
}

.destaque img {
    margin: 25px 25px;
    height: 300px;
    width: 300px;
}

.tema {
    padding: 25px;
    margin-bottom: 5px;
    border-bottom: 2px solid #321987;
}

.lista-mouses {
    display: flex;
}

.lista-mouses li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-mouses li img {
    border-radius: 8px;
    width: 230px;
    height: 230px;
}

.lista-mouses li h3{
    margin: 16px 0;
}

button {
    display: block;
    width: 230px; 
    padding: 8px 0;
    border: none;
    background-color: #321987;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 12px;
}